<div class="center jumbotron">
    <h1>Welcome to Ads app</h1>

    <h2>
      Authorize or sign up to add your advertisement
    </h2>

  <%= link_to "Sign up", signup_path, class: "btn btn-outline-primary btn-lg" %>
</div>

