<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="logo">
      <%= link_to image_tag('Unknown.png', alt: 'logo'), root_path %>
      <%= link_to "Ads app", root_path, id: "logo" %>
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Type something...">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
      </div>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <div class="col-md-12 text-center">
          <% if signed_in? %>
            <%= render 'layouts/user_header' %>
          <% else %>
            <%= render 'layouts/guest_header' %>
          <% end %>
        </div>
      </ul>
    </nav>
  </div>
</header>