<li class="dropdown">
  <%= render 'layouts/create_ad' %>
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <button type="button" class="btn btn-outline-primary btn-sm">Account</button>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Profile", current_user %></li>
    <li><%= link_to "Settings", '#' %></li>
    <li class="divider"></li>
    <li>
      <%= link_to "Log out", logout_path, method: "delete" %>
    </li>
  </ul>
</li>